<h1>Listing publications</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Genre</th>
    <th>Nom publication</th>
    <th>Annee</th>
    <th>Mois</th>
    <th>Pages</th>
    <th>Notes</th>
    <th>Resumer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publications.each do |publication| %>
  <tr>
    <td><%= publication.titre %></td>
    <td><%= publication.genre %></td>
    <td><%= publication.nom_publication %></td>
    <td><%= publication.annee %></td>
    <td><%= publication.mois %></td>
    <td><%= publication.pages %></td>
    <td><%= publication.notes %></td>
    <td><%= publication.resumer %></td>
    <td><%= link_to 'Show', publication %></td>
    <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
    <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Publication', new_publication_path %>
