<h1>Listing auteurs</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auteurs.each do |auteur| %>
  <tr>
    <td><%= auteur.nom %></td>
    <td><%= auteur.prenom %></td>
    <td><%= link_to 'Show', auteur %></td>
    <td><%= link_to 'Edit', edit_auteur_path(auteur) %></td>
    <td><%= link_to 'Destroy', auteur, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auteur', new_auteur_path %>
