<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "bibliotheque app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
         <li><%= link_to "Accueil",     root_path %></li>
         <li><%= link_to "Aide",        aide_path %></li>
         <li><%= link_to "Inscription", inscription_path %></li>
         <li><%= link_to "Publication", creerpublication_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>